.pdfConentAreasCustomize {
  padding: 5% 7%;
  font-family:
    "Hiragino Kaku Gothic ProN", "poppins", Helvetica, Arial, sans-serif,
    YuGothic, "游ゴシック Medium";
}

.headingTable {
  margin: 0 0 20px 0;
}

.headingTable td {
  font-size: 12px;
}

.headingPDf {
  text-align: center;
  margin: 0 0 10px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
}

img.logoImage {
  width: 120px;
  margin: 0 0 10px 0;
}

.pdfConentAreasCustomize table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.pdfConentAreasCustomize table td {
  margin: 0;
}
